<div class="d-flex flex-row justify-content-between" style="width:60vw;">
  <div class="map-dropdown d-flex">
    <div class="dropdown mr-auto show-right-country">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedCountryValue || 'Country' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" *ngFor="let country of countryNames" (click)="selectCountry(country)">
          {{ country }}
        </a>
      </div>
    </div>
    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ mapTypeData || 'Select Indicator' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" *ngFor="let map of mapType" (click)="selectMapType(map)">
          {{ map }}
        </a>
      </div>
    </div>

    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedRcpValue || 'RCP Scenario' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 2.6(LOW)')">RCP 2.6 (LOW)</a>
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 4.5(MEDIUM)')">RCP 4.5 (MEDIUM)</a>
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 8.5(HIGH)')"> RCP 8.5 (HIGH)</a>
      </div>
    </div>

    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ 'Year' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" (click)="selectYear('2030')">'2030'</a>
        <a class="dropdown-item" href="#" (click)="selectYear('2050')">'2050'</a>
     
      </div>
    </div>

  </div>

  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Central Mediterranean Route"> </mat-tab>
    <mat-tab label="Western Mediterranean"> </mat-tab>
    <mat-tab label="Western Africa"> </mat-tab>
  </mat-tab-group>
</div>


<div class="d-flex">
  <div class="p-2" id="chartdestionation"></div>
  <div class="p-2 mgrt-table" *ngIf="selectedCountryValue">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Total Migration</th>
          <th scope="col">From</th>
          <th scope="col">via</th>
          <th scope="col">To</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{totalMigration}}</th>
          <td>{{selectedCountryValue}}</td>
          <td>{{mediator}}</td>
          <td>United Kingdom</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>