#chartdestionation{
    width: 80vw;
    height:65vh;
}
.dropdown-menu {
    max-height: 200px; /* Adjust the max height as needed */
    overflow-y: auto;
  }
  .mgrt-table{
    border:1px solid #dee2e6;
    height:200px !important;
  }
  .show-stress{
    margin: 0 2%;

  } 