<div class="d-flex flex-row justify-content-between" style="width:60vw;">
  <div class="map-dropdown d-flex">
    <div class="dropdown mr-auto show-right-country">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedCountryValue || 'Country' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" *ngFor="let country of countryNames" (click)="selectCountry(country)">
          {{ country }}
        </a>
      </div>
    </div>
    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedRcpValue || 'SSP Scenario' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" (click)="selectRcp('SSP-1(LOW)')">SSP1 (LOW)</a>
        <a class="dropdown-item" href="#" (click)="selectRcp('SSP-2(MEDIUM)')">SSP2 (MEDIUM)</a>
        <a class="dropdown-item" href="#" (click)="selectRcp('SSP-3(HIGH)')">SSP3 (HIGH)</a>
      </div>
    </div> 
    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedIndicators.length > 0 ? selectedIndicators.join(', ') : 'Indicator category' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="indicatorDropdown">
        <div *ngFor="let indicator of indicators" class="dropdown-item custom-checkbox">
          <input type="checkbox" [id]="indicator.id" (change)="selectIndicator(indicator.name)" />
          <label [for]="indicator.id">{{ indicator.name }}</label>
        </div>
      </div>
  
      <!-- <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" *ngFor="let map of mapType" (click)="selectMapType(map)">
          {{ map }}
        </a>
      </div> -->
    </div>
    
   

    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectYearValue ||  'Year' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" (click)="selectYear('2030')">2030</a>
        <a class="dropdown-item" href="#" (click)="selectYear('2050')">2050</a>
        <a class="dropdown-item" href="#" (click)="selectYear('No scenario')">No scenario</a>
     
      </div>
    </div>

  </div>


</div>
<!-- <mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Central Mediterranean Route"> </mat-tab>
  <mat-tab label="Western Mediterranean Route"> </mat-tab>
  <mat-tab label="Western Africa Route"> </mat-tab>
</mat-tab-group> -->

<div class="d-flex">
  <div class="" id="chartdestionation"></div>
  <div class="mgrt-table" *ngIf="selectedCountryValue">
    <div>
    </div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th colspan="4">Total No.Of Irregular Migrants-({{selectYearValue}}) : <a href="#">{{totalMigration}}</a></th>
      </tr>
        <!-- <tr >
          <h2>Total No.Of Irregular Migrants-({{selectYearValue}}) :&nbsp;<a href="#" >{{totalMigration}}</a></h2>
        </tr> -->
        <tr>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col">Route</th>
          <th scope="col">Migrant</th>
          <!-- <th scope="col">Total No. Of Irregular Migrants - ({{selectYearValue}})</th> -->
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let mediator of finalMeditor; let i = index">
          <tr >
          <td>{{selectedCountryValue}}</td>
          <td>United Kingdom</td>
          <td *ngIf="i === 0"> Central Mediterranean Route - {{mediator}}</td>
          <td *ngIf="i === 1"> Western Mediterranean Route - {{mediator}}</td>
          <!-- <td *ngIf="i === 2"> Western Mediterranean Route - {{mediator}}</td> -->
          <td *ngIf="i === 2"> Western Africa Route - {{mediator}}</td>
          <td *ngIf="i === 0">{{centralRoute}}</td> 
          <td *ngIf="i === 1"> {{westernRoute}}</td>
          <!-- <td *ngIf="i === 2"> {{westernRoute}}</td> -->
          <td *ngIf="i === 2"> {{westernAfricaRoute}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
    <div class="indicator-box">
      <span>No Data</span>
      <div class="box-low"></div>
  </div>
</div>