<div class="d-flex flex-row justify-content-between" style="width:60vw;">
  <div class="map-dropdown d-flex">
    <div class="dropdown mr-auto">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedRcpValue || 'RCP Scenario' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 2.6(LOW)')">RCP 2.6 (LOW)</a>
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 4.5(MEDIUM)')">RCP 4.5 (MEDIUM)</a>
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 8.5(HIGH)')"> RCP 8.5 (HIGH)</a>
      </div>
    </div>

    <div class="dropdown" #dropdown>
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="indicatorDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedIndicators.length > 0 ? selectedIndicators.join(', ') : 'Indicator category' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="indicatorDropdown">
        <div *ngFor="let indicator of indicators" class="dropdown-item custom-checkbox">
          <input type="checkbox" [id]="indicator.id" (change)="selectIndicator(indicator.name)" />
          <label [for]="indicator.id">{{ indicator.name }}</label>
        </div>
      </div>
    </div>
    <!-- <div class="dropdown mr-auto show-right-country">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedCountryValue || 'Country' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" *ngFor="let country of countryNames" (click)="selectCountry(country)">
          {{ country }}
        </a>
      </div>
    </div> -->
  <div class="collapsable ml-auto">
      <app-migrant-detail></app-migrant-detail>
      </div>
  </div>
  <div class="container" *ngIf="showHeatLegend">
    <div class="row">
      <div class="indicator-box">
        <div class="box-low"></div>
        <span>No Data</span>
      </div>
    </div>
  </div>
</div>
<div id="chartdiv">
  <!-- <div class="summary d-flex" *ngIf="clicked">
    <div class="table-container"></div>
    
  </div> -->
  <div class="disclaimer"><p>Note: The scores are relative to the current situation of the country for the different indicators.</p></div>
</div>

