<div class="map-dropdown d-flex">
    <div class="dropdown mr-auto">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ selectedRcpValue || 'RCP Seanrio' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 2.6(low)')">RCP 2.6(low)</a>
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 2.4(medium)')">RCP 2.4(medium)</a>
        <a class="dropdown-item" href="#" (click)="selectRcp('RCP 2.8(high)')">RCP 2.8(high)</a>
      </div>
    </div>
  
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="indicatorDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ selectedIndicatorValue || 'Indicator category' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="indicatorDropdown">
        <a class="dropdown-item" href="#" (click)="selectIndicator('Energy')">Energy</a>
        <a class="dropdown-item" href="#" (click)="selectIndicator('land')">Land</a>
        <a class="dropdown-item" href="#" (click)="selectIndicator('Water')">Water</a>
      </div>
    </div>

    <div class="dropdown mr-auto">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ selectedNameValue || 'Indicator name' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
       
        <a class="dropdown-item" href="#" *ngFor="let name of indicatorName" (click)="selectName(name)">
          {{ name }}
        </a>
      </div>
    </div>

    <div class="dropdown mr-auto">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ selectedCountryValue || 'Country' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" *ngFor="let country of countryNames" (click)="selectCountry(country)">
          {{ country }}
        </a>
      </div>
    </div>
  </div>

 
<div id="chartdiv">
  <div class="summary d-flex" *ngIf="clicked">
   
    <div class="table-container">
     <app-dialog  [dataItem]="summaryData"></app-dialog>
    </div>
  </div>
  
</div>




