#chartdiv{
  width:60vw;
  height:100%;
  }


#mapchart{
  width: 60vw;
  height: 100%;
  position: absolute;
  right: 30%;
   
}
.map-dropdown{
    display: inline-flex;
    margin:2px;
    
}
.rcp{
  margin-right: 0.25rem;
  max-width: 300px; 
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: max-width 0.3s ease;
  background-color: #e68301;
  border-color: #e68301;
}
.rcp:hover {
  max-width: 600px;
  
}
.dropdown-menu {
    max-height: 200px; 
    overflow-y: auto;
    max-width: 300px; 
    white-space: normal; 
  }
  
  .dropdown-item {
    width: 100%; 
    box-sizing: border-box; 
  }

  .year-dropdown{
    justify-content: flex-end; 
  }

  /* .show-right{
    position:absolute;
    right:20px;
  }
  .show-right-country{
    position:absolute;
    right:40px;
  } */
 
  .table-container {
    position: absolute;
    top: 104px;
    right: 360px;
    width: 2%;
    margin-top: 20px
  }
  
  .mat-elevation-z8 {
    /* Add any additional styles for the table */
    margin-bottom: 0; /* Adjust as needed */
  }
  .container {
    position: absolute;
    bottom: 18%;
  }
  .row {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .indicator-box {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .box-high {
    width: 20px;   
    height: 10px; 
    background-color: #842c06;  
    margin-right: 5px; 
  }
  .box-low {
    width: 20px;  
    height: 10px;  

    /* background-color: #ff621f ;   */
    background-color: #6794dc;
    /* margin-right: 5px;   */
  }
  .box-middle {
    width: 20px;   
    height: 10px; 
    background-color: #d65016 ;  
    margin-right: 5px;  
  }
  .land-indicator{
    width: 20px;   
    height: 30px; 
    background-image: url('/assets/images/Crop yield change (Land).png');
    background-size: cover;  
    /* background-color: #39753A ;   */
    margin-right: 5px;  
  }
  .water-indicator{
    width: 20px;   
    height: 30px; 
    /* background-color: #65BADA ; */
    background-image: url('/assets/images/Drought intensity change (Water).png');
     background-size: cover;  
    margin-right: 5px;  
  }
  .stress-indicator{
    width: 20px;   
    height: 30px; 
    /* background-color: #65BADA ; */
    background-image: url('/assets/images/Water index stress (Water).png');
     background-size: cover;  
    margin-right: 5px;  
  }
  .heat-indicator{
    width: 20px;   
    height: 30px; 
    background-image: url('/assets/images/Heat Index Event exposure (Energy).png');
    background-size: cover;  
    /* background-color: #D56651 ;   */
    margin-right: 5px;  
  }
  .collapsable{
    position:absolute;
    right:10px;
    width: 32vw;
  }
  .disclaimer{
    position: absolute;
    bottom: 5%;
  }
  .custom-map-polygon{
    position:absolute;
    top:70% !important;
  }
  .heatLegend{
    height:50px !important;
  }
