#chartdiv{
    width:100%;
    height:100%;
}
.map-dropdown{
    display: inline-flex;
    margin:2px;
}
.rcp{
    margin-right: 0.25rem;
}
.dropdown-menu {
    max-height: 200px; /* Adjust the max height as needed */
    overflow-y: auto;
  }

  .year-dropdown{
    justify-content: flex-end; 
  }

  /* .show-right{
    position:absolute;
    right:20px;
  }
  .show-right-country{
    position:absolute;
    right:40px;
  } */
 
  .table-container {
    position: absolute;
    top: 104px;
    right: 360px;
    width: 2%;
    margin-top: 20px
  }
  
  .mat-elevation-z8 {
    /* Add any additional styles for the table */
    margin-bottom: 0; /* Adjust as needed */
  }
  .container {
    display: flex;
    justify-content: flex-end; /* Move the row to the right */
    padding: 10px;
  }
  .row {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .indicator-box {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  
  .box-high {
    width: 20px;   
    height: 10px; 
    background-color: #842c06;  
    margin-right: 5px; 
  }
  .box-low {
    width: 20px;  
    height: 10px;  
    /* background-color: #ff621f ;   */
    background-color: #6794dc;
    margin-right: 5px;  
  }
  .box-middle {
    width: 20px;   
    height: 10px; 
    background-color: #d65016 ;  
    margin-right: 5px;  
  }
  .collapsable{
    position:absolute;
    right:10px;
    width: 400px;
  }
