
<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <!-- <div><h2 class="mat-h1">C397.10 Assesment Tool</h2></div> -->
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Causal Analysis</a>
      <a mat-list-item href="#">Downloads</a>
      <a mat-list-item href="#">User Guide</a>
      <a mat-list-item href="#">Data Catalogue</a>
      <!-- <a mat-list-item href="#">Migration Northern African Routes</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
      <span> C-397 Assessment Tool(POC)</span>
    </mat-toolbar>
    <!-- <app-dashboard (hideDemo)="hideDemo($event)" *ngIf="showDashboard"></app-dashboard> -->
    <app-dashboard></app-dashboard> 
    
  </mat-sidenav-content>
</mat-sidenav-container>
