.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  
  
}

.sidenav .mat-toolbar {
  background-color: #e68301;
  color: white !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #e68301;
}

.custom td {
  height: 10vh;
  width: 10vh;
  border: solid 1px black;
}

.custom th {
  height: 10vh;
  width: 10vh;
  border: solid 1px black;
}
.sidebar-nav .nav-item a:hover{
  background-color: #e68301;
  color: white !important;
}