


<div id="summary-detail" [ngStyle]="{'height': dataSource.length ? '350px' : '150px'}">
  <mat-form-field id="year-option" *ngIf="rcpData">
    <mat-label>Select a year</mat-label>
    <mat-select [(ngModel)]="selectedYear" (selectionChange)="onYearSelected($event)">
      <mat-option value="2030" selected>2030</mat-option>
      <mat-option value="2050">2050</mat-option>
    </mat-select>
  </mat-form-field>
  <div id="dialog" [ngStyle]="{'height': dataSource.length ? '200px' : '50px'}"> </div>
  <div class="full-size-dialog-content" *ngIf="dataSource.length">
    <table mat-table [dataSource]="dataSource" class=" demo-table">
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{element.Country}}</td>
      </ng-container>
      <ng-container matColumnDef="Number_of_immigrants" >
        <th mat-header-cell *matHeaderCellDef>Total Migration</th>
        <td mat-cell *matCellDef="let element">
        <ng-container>
        {{element.Number_of_immigrants}}
        </ng-container>
        
       
      </td>
      
      </ng-container>
      <ng-container matColumnDef="Proportion" >
        <th mat-header-cell *matHeaderCellDef>Proportion</th>
        <td mat-cell *matCellDef="let element" >
          <ng-container >
            {{element.Proportion}}
            </ng-container>
            
           </td>
        <!-- <td mat-cell *matCellDef="let element" *ngIf="!selectedYear">{{element.Percent-overall}}</td> -->
      </ng-container>
      <ng-container matColumnDef="Year">
        <!-- Conditionally show the header cell -->
        <th mat-header-cell *matHeaderCellDef >Year</th>
      
        <!-- Conditionally show the content inside the cell -->
        <td mat-cell *matCellDef="let element">
          2013-2023
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="!dataSource.length">
    Click on the bullets shown in the map to get the details.
    </div>
</div>

