


<div id="summary-detail" [ngStyle]="{'height': dataSource.length ? '350px' : '150px'}">
  <mat-form-field id="year-option" *ngIf="dataSource.length">
    <mat-label>Select a year</mat-label>
    <mat-select [(ngModel)]="selectedYear" (selectionChange)="onYearSelected($event)">
      <mat-option value="2030" selected>2030</mat-option>
      <mat-option value="2050">2050</mat-option>
    </mat-select>
  </mat-form-field>
  <div id="dialog" [ngStyle]="{'height': dataSource.length ? '200px' : '50px'}"> </div>
  <div class="full-size-dialog-content" *ngIf="dataSource.length">
    <table mat-table [dataSource]="dataSource" class=" demo-table">
      <ng-container matColumnDef="Country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{element.Country}}</td>
      </ng-container>
      <ng-container matColumnDef="Number_of_immigrants">
        <th mat-header-cell *matHeaderCellDef>Immigrants</th>
        <td mat-cell *matCellDef="let element">{{element.Number_of_immigrants}}</td>
      </ng-container>
      <ng-container matColumnDef="Proportion">
        <th mat-header-cell *matHeaderCellDef>Proportion</th>
        <td mat-cell *matCellDef="let element">{{element.Proportion}}</td>
      </ng-container>
      <ng-container matColumnDef="Year">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let element"></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="!dataSource.length">
    Click on the bullets shown in the map to get the details.
    </div>
</div>

