 #dialog{
     width: 200px !important;
    
    position: relative; /* Use absolute positioning within the relative container */
    top: 30%; /* Move the map to the vertical center */
    left: 30%; /* Move the map to the horizontal center */
    transform: translate(-50%, -50%); /* Center the map using translate */
  
  } 
  
  .am5-MapChart {
    width: 100%; /* Make sure the map takes the full width of the container */
    height: 100%; /* Make sure the map takes the full height of the container */
    position: absolute; /* Use absolute positioning within the relative container */
    top: 50%; /* Move the map to the vertical center */
    left: 50%; /* Move the map to the horizontal center */
    transform: translate(-50%, -50%); /* Center the map using translate */
  }

.full-size-dialog-content{
    /* height: 100%; */
    position: absolute; /* Use absolute positioning within the relative container */
    top: 50%; /* Move the map to the vertical center */
   
}
#summary-detail{
  position: relative;
  /* overflow: hidden; */
  /* border:1px solid grey; */
  width: 350px;
  /* height:350px; */
  /* box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); */
}
.dropdown-menu{
  z-index:2;
}
.mat-select-panel {
  z-index: 1000; /* Adjust the value based on your layout */
}
