


<div id="summary-detail" [ngStyle]="{'height': dataSource.length ? '350px' : '150px'}">
  <mat-form-field id="year-option" *ngIf="rcpData && dataSource.length">
    <mat-label>Select a year</mat-label>
    <mat-select [(ngModel)]="selectedYear" (selectionChange)="onYearSelected($event)">
      <mat-option value="2030" selected>2030</mat-option>
      <mat-option value="2050">2050</mat-option>
    </mat-select>
  </mat-form-field>
  <div id="dialog" [ngStyle]="{'height': dataSource.length ? '200px' : '50px'}"> </div>
  <div class="full-size-dialog-content" *ngIf="dataSource.length">
    <table>
      <thead>
        <!-- <h2><b>Highest Rate of Migration</b></h2> -->
        <tr>
          <th>Country</th>
          <th> Immigrants</th>
          <th> Proportion</th>
          <th> Year</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let country of dataSource">
          <tr>
            <td>{{ country.Country }}</td>
            <td>{{ country.total_irregular_migrants }}</td>
            <td>{{ country.Proportion }}</td>
            <td>  {{ selectedYear ? selectedYear  : '2013-2023' }}</td>
          </tr>
        </ng-container>
      </tbody>
     
    </table>
  </div>
  <div *ngIf="!dataSource.length">
    Click on the bullets shown in the map to get the details.
    </div>
</div>

