<svg width="100%" height="100%">
    <defs>
        <!-- Define an arrowhead marker -->
        <marker id="arrowhead" markerWidth="10" markerHeight="7" refX="0" refY="3.5" orient="auto">
          <polygon points="0 0, 10 3.5, 0 7" fill="black" />
        </marker>
      </defs>
    <g *ngFor="let element of svgElements;let i = index">
        <rect class="prevent-touch-start" style="touch-action: none;" [attr.stroke]="element.rectStrokeColor"
            stroke-width="0.4" cursor="default" [attr.x]="element.rectX" [attr.y]="element.rectY"
            [attr.fill]="element.rectFillColor" width="201.5" height="130" fill-opacity="1.0"></rect>

        <g>
            <defs>
                <clipPath [attr.id]="'innerClipPath' + i">
                    <rect [attr.x]="element.clipPathRectX" [attr.y]="element.clipPathRectY"
                        [attr.width]="element.clipPathRectWidth" [attr.height]="element.clipPathRectHeight"></rect>
                </clipPath>
            </defs>

            <text opacity="1" [attr.x]="element.textX" fill="white" dominant-baseline="hanging" [attr.y]="element.textY"
                font-size="11px" font-weight="600" text-anchor="start" [attr.clip-path]="'url(i)'">
                {{element.nodeName}}
            </text>
        </g>

        <svg width="100%" height="100%">


            <g *ngFor="let ele of svgGraph; let idx = index">
                <!-- Your existing elements go here with bindings updated -->
                <g style="touch-action: none;" data-test-id="'EvidenceNodeVisualAction-VentTube-Low' + id">

                    <title>State</title>
                    <svg:text opacity="1" [attr.x]="element.textX + idx * 40" fill="white" dominant-baseline="hanging"
                        [attr.y]="element.textY + 90" font-size="11px" font-weight="300" text-anchor="start"
                        [attr.clip-path]="'url(#' + idx + ')'">
                        {{ ele.value }}
                    </svg:text>
                    <rect class="prevent-touch-start" class="prevent-touch-start" style="touch-action: none;"
                        stroke="#D3D3D3" stroke-width="0.3" cursor="default" fill="transparent"
                        width="25.299999999999955" height="50" fill-opacity="1.0" style="touch-action: none;"
                        [attr.x]="element.textX + idx * 40" [attr.y]="element.textY + 40"></rect>

                    <rect class="prevent-touch-start" style="touch-action: none;" stroke="white" stroke-width="0.5"
                        cursor="default" [attr.x]="element.textX + idx * 40" [attr.y]="element.textY + 90 - ele.prt "
                        width="23.423213092292727" [style.height.px]="ele.prt" fill-opacity="1.0"
                        fill="rgb(79, 121, 167)"></rect>
                    <g>
                        <defs>
                            <clipPath [attr.id]="'clipPath' + idx">
                                <rect [attr.x]="element.textX + idx * 40" [attr.y]="element.textY + 40"
                                    [attr.width]="ele.clipPathWidth" [attr.height]="ele.clipPathHeight"></rect>
                            </clipPath>
                        </defs>
                        <svg:text opacity="1" [attr.x]="element.textX + idx * 40" [attr.y]="element.textY + 80 - ele.prt"
                            fill="white" dominant-baseline="hanging" font-size="8.5px" font-weight="normal"
                            text-anchor="middle" clip-path="url('clipPath' + idx)">{{ele.percentage}}</svg:text>
                    </g>
                    <!-- Line connecting rectangles -->
                    

                </g>
               
            </g>
          
        </svg>
       
    </g>
<g>
    <line
    [attr.x1]="361" 
    [attr.y1]="62"
    [attr.x2]="690"
    [attr.y2]="80"
    stroke="black"
    stroke-width="2"
    marker-end="url(#arrowhead)"
  />
</g>

</svg>
