<div class="grid-container" *ngIf="showDashboard">
  <div style="display:flex; ">
  <h1 class="mat-h1">Dashboard:</h1>
  <div class="btn-data">
    <mat-tab-group (selectedTabChange)="onTabChange($event)" disableRipple>
      <mat-tab label="Irregular migrants" ></mat-tab>
      <!-- <mat-tab label="Africa Hotspot explorer"></mat-tab> -->
    </mat-tab-group>
  <!-- <button type="button" class=" btn btn-info btn-mr" (click)="showMapDetail('migrants')"> Irregular migrants</button>
  <button type="button" class="btn btn-info" (click)="showMapDetail('explorer')">Africa Hotspot explorer</button> -->
  </div>
  </div>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Download</button>
              <button mat-menu-item>Print</button>
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="height:100% !important">        
          <ng-container *ngIf="card.showGraph">
              <!-- <app-bubble *ngIf="card.title === 'Card 1'"></app-bubble> -->
            <app-map *ngIf="card.title === 'Card 1' && !showMap"></app-map>
            <app-timezonemap *ngIf="card.title === 'Card 1' && showMap"></app-timezonemap>
            <!-- <app-africamap *ngIf="card.title === 'Card 1'"></app-africamap> -->
            <!-- <app-svg-list *ngIf="card.title === 'Card 3'" ></app-svg-list> -->
            <!-- <app-animate-map *ngIf="card.title === 'Card 2'"></app-animate-map> -->
             <app-graph *ngIf="card.title === 'Card 2'" (newItemEvent)="showCards($event)"></app-graph> 
             <!-- <app-sankey-graph *ngIf="card.title === 'Card 2'" ></app-sankey-graph> -->
           <!-- <app-carousel *ngIf="card.title === 'Card 1'"></app-carousel>  -->
          </ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div> 
<div class="chart-container" *ngIf="!showDashboard">
  
           
            <app-node-link (goBack)="returnPage($event)"  ></app-node-link>
        
</div> 
