.grid-container {
  margin: 10px;
}
.char-container{
  display: flex;
  height:100% !important;
  width:100% !important;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.custom td {
  height: 10vh;
  width: 10vh;
  border: solid 1px black;
}

.custom th {
  height: 10vh;
  width: 10vh;
  border: solid 1px black;
}
.sidebar-nav .nav-item a:hover{
  background-color: #e68301;
  color: white !important;
}
