
<mat-accordion class="panel">
  <mat-expansion-panel expanded="true" >
      <mat-expansion-panel-header>
          <mat-panel-title>
              Causal Analysis Outcomes
          </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content-container">
        <div class="data-box">
        <!-- <div >
          <b>Total No. Of Irregular Migration:&nbsp;<a href="#" >{{20243}}</a></b>
        </div> -->
        <!-- <div >
          <b> Total No. Of Internal Displacment :&nbsp;<a href="#" >{{34523}}</a></b>
        </div> -->
        <!-- <div >
          <b> Total No. Of Irregular Migrants at Each Port :&nbsp;<a href="#" >{{25234}}</a></b>
        </div> -->
        <!-- <div >
          <b> Total No. Of Irregular Migrants in Europe :&nbsp;<a href="#" >{{4564}}</a></b>
        </div> -->
        <!-- <div >
          <b> Total No. Of Irregular Migrants in UK :&nbsp;<a href="#" >{{45534}}</a></b>
        </div> -->
     </div>
        <div>
         
          <table>
    <!-- <thead>
     
      <tr>
        <th> Highest Rate of Migration(Top Countries)</th>
        <th> No. of Migrants </th>
      </tr>
    </thead> -->
    <tbody>
      <ng-container >
               
        <tr>
          <td> <b>Total No. Of Irregular Migration:&nbsp;</b> </td>
          <td><a href="#" (click)="displayData()">{{20243}}</a></td>
        </tr>

        <tr>
          <td> <b>Total No. Of Internal Displacment:&nbsp;</b> </td>
          <td><a href="#" >{{25234}}</a></td>
        </tr>
        <tr>
          <td> <b>Total No. Of Irregular Migrants at Each Port:&nbsp;</b> </td>
          <td><a href="#" >{{4544}}</a></td>
        </tr>
        <tr>
          <td> <b>Total No. Of Irregular Migrants in Europe:&nbsp;</b> </td>
          <td><a href="#" >{{5234}}</a></td>
        </tr>
        <tr>
          <td> <b>Total No. Of Irregular Migrants in UK:&nbsp;</b> </td>
          <td><a href="#" >{{455234}}</a></td>
        </tr>
      </ng-container>
    </tbody>
          </table>
          </div>
          </div>
        
     
  </mat-expansion-panel>
 
  
</mat-accordion>

<mat-accordion class="result-panel" *ngIf="showPanel">
    <mat-expansion-panel expanded="true" >
        <mat-expansion-panel-header>
            <mat-panel-title>
              Total Data
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="content-container">
          <div class="data-box">
         
       </div>
          <div>
           
          Here we show Data related to particular selected data.
            </div>
            </div>
          
       
    </mat-expansion-panel>
   
    
  </mat-accordion>
