@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* .mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled{
    z-index:9999 !important;
}
::ng-deep .mat-ripple-element {
    display: none !important;
  } */