<!-- <p>causalanalysis works!</p> -->
<div class="d-flex flex-row justify-content-between" style="width:60vw;">
    
  <div class="map-dropdown d-flex">
      <div class="dropdown mr-auto show-right-country">
          <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{'Country' }}
          </button>
          <div class="dropdown-menu" aria-labelledby="rcpDropdown">
            <a class="dropdown-item" href="#" *ngFor="let country of countryNames" (click)="selectCountry(country)">
              {{ country }}
            </a>
          </div>
        </div>
        <div class="dropdown mr-auto show-stress">
          <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{  ' SSP Scenario' }}
          </button>
          <div class="dropdown-menu" aria-labelledby="rcpDropdown">
            <a class="dropdown-item" href="#" >SSP-1(LOW)</a>
            <a class="dropdown-item" href="#" >SSP-2(MEDIUM)</a>
            <a class="dropdown-item" href="#" >SSP-3(HIGH)</a>
          </div>
        </div> 
        <div class="dropdown mr-auto show-stress">
          <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{  'Indicators' }}
          </button>
          <div class="dropdown-menu" aria-labelledby="rcpDropdown">
            <a class="dropdown-item" href="#" >Water index stress (Water)</a>
            <a class="dropdown-item" href="#" >Crop yield change (Land)</a>
            <a class="dropdown-item" href="#" >Drought intensity change (Water)</a>
            <a class="dropdown-item" href="#" >Heat Index Event exposure (Energy)</a>
          </div>
        </div> 
        <div class="dropdown mr-auto show-stress">
          <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ selectedYear ||'Year' }}
          </button>
          <div class="dropdown-menu" aria-labelledby="rcpDropdown">
              <a class="dropdown-item" href="#"(click)="selectYear('2030')" >2030</a>
              <a class="dropdown-item" href="#"(click)="selectYear('2050')" >2050</a>
            <!-- <a class="dropdown-item" href="#" (click)="selectYear('2030')">'2030'</a> -->
            <!-- <a class="dropdown-item" href="#" (click)="selectYear('2050')">'2050'</a> -->
         
          </div>
        </div>
        
    
    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ selectedHealth || 'Health' }}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
        <a class="dropdown-item" href="#" (click)="selectHealth('Low Health Vulnerability')">Low Health Vulnerability</a>
        <a class="dropdown-item" href="#" (click)="selectHealth('Medium Health Vulnerability')">Medium Health Vulnerability</a>
        <a class="dropdown-item" href="#" (click)="selectHealth('High Health Vulnerability')">High Health Vulnerability</a>
      </div>
    </div>
    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedInflation ||'Inflation'}}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
          <a class="dropdown-item" href="#" (click)="selectInflation('Negative Inflation')">Negative Inflation</a>
          <a class="dropdown-item" href="#"(click)="selectInflation('Less than 5% Inflation')" >Less than 5% Inflation</a>
          <a class="dropdown-item" href="#" (click)="selectInflation('Between 5-20% Inflation')">Between 5-20% Inflation</a>
          <a class="dropdown-item" href="#"(click)="selectInflation('Between 20-30% Inflation')" >Between 20-30% Inflation</a>
          <a class="dropdown-item" href="#"(click)="selectInflation('More than 30% Inflation')" >More than 30% Inflation</a>
        </div>
    </div>
    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedEconomic ||'Economic'}}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
          <a class="dropdown-item" href="#"(click)="selectEconomic('Low Economic Readiness')">Low Economic Readiness</a>
          <a class="dropdown-item" href="#"(click)="selectEconomic('Medium Economic Readiness')" >Medium Economic Readiness</a>
          <a class="dropdown-item" href="#"(click)="selectEconomic('High Economic Readiness')" >High Economic Readiness</a>
          </div>
    </div>
    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedPolitical ||'Political'}}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
          <a class="dropdown-item" href="#"(click)="selectPolitical('Low Political Stability')" >Low Political Stability</a>
          <a class="dropdown-item" href="#"(click)="selectPolitical('Low Political Stability')" >Medium Political Stability</a>
          <a class="dropdown-item" href="#"(click)="selectPolitical('Low Political Stability')" >High Political Stability</a>
          </div>
    </div>

    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedFoodwater ||'Food & Water'}}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
          <a class="dropdown-item" href="#"(click)="selectFoodwater('Limited Access')" >Limited Access</a>
          <a class="dropdown-item" href="#"(click)="selectFoodwater('Average')" >Average</a>
          <a class="dropdown-item" href="#"(click)="selectFoodwater('Readily Available')" >Readily Available</a>
          </div>
    </div>

    <div class="dropdown mr-auto show-stress">
      <button class="btn btn-primary dropdown-toggle rcp" type="button" id="rcpDropdown" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{selectedSocial||'Social'}}
      </button>
      <div class="dropdown-menu" aria-labelledby="rcpDropdown">
          <a class="dropdown-item" href="#"(click)="selectSocial('Low Social Stability')">Low Social Stability</a>
          <a class="dropdown-item" href="#"(click)="selectSocial('Medium Social Stability')">Medium Social Stability</a>
          <a class="dropdown-item" href="#"(click)="selectSocial('High Social Stability')">High Social Stability</a>
          </div>
    </div>
      
  </div>
  
  <div class="app-causal ml-auto">
    <!-- <app-causalanalysis-data></app-causalanalysis-data> -->
  </div>
  </div>
  <div id="chartdiv1"></div>
  <!-- <div id="chartdiv1" style="width: 75vw; height: 500px;"></div>
 -->
  <!-- <div class="circle-container">
      <div *ngFor="let color of circleColors" class="circle" [style.background-color]="color"></div>
    </div> -->