.show-stress{
    margin: 0 1%;

  }
  button{
    background-color: #e68301;
    border-color: #e68301;
  }
  .circle-container {
    display: flex;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
  }
  .app-causal{
    position:absolute;
    right:10px;
    top:104px;
    width: 23vw;
  }
  #chartdiv1 {
    width: 1500px;
    height: 600px;
    border: 1px solid lightgray;
  }
  code {
    font-size: 14px;
    background: #dddddd;
  }
  p {
    max-width: 600px;
  }
  .indented {
    margin-left: 30px;
  }
  .sep {
    height: 1px;
    width: 35%;
    margin-left: 40px;
    background-color: #dddddd;
  }
  