.show-stress{
    margin: 0 1%;

  }
  button{
    background-color: #e68301;
    border-color: #e68301;
  }
  .circle-container {
    display: flex;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
  }
  .app-causal{
    position:absolute;
    right:10px;
    top:104px;
    width: 23vw;
  }